@font-face {
    font-family: lsb;
    src: url(lsb.ttf);
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px;
    width: 350px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.svg-title {
    text-align: center;
    color: white;
}

h1 {
    font-family: lsb;
    font-size: 2rem;
    margin-bottom: 35px;
}

button {
    font-family: lsb;
    width: calc(100% - 100px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: hsl(162.00, 77%, 40%);
    color: white;
    cursor: pointer;
    display: block; 
    margin: 0 auto; 
    transition: all 0.3s ease-in-out;
    margin-bottom: 35px
}

button:hover {
    background-color: hsl(162, 75%, 35%);
    transform: scale(0.95);
}
